.user-list{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.userName{


}
.photo{
  border-radius : 50%;
  border:4px solid gray;
  padding:10px;
  height: 30%;
  width: 30%;
}
.profil{
  border:solid;
  width: 30%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration:none;
  border-radius: 5%;
}
